<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Профиль</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{navigation :: navi(Profile)}"/>

<div class="container">
    <br>
    <h1>Профиль</h1>
    <table class="table table-hover product-table">
        <thead class="thead-dark">
        <tr>
            <!--            <th>id_custom</th>-->
            <th>User name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
            <!--            <th>Roles</th>-->
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr>

            <!--            <td th:text="${iterStat.index}"/>-->
            <td th:text="${user.getUserName()}"/>
            <td th:text="${user.getFirstName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getEmail()}"/>
            <td>
                <option th:each="role : ${user.getRoles()}"
                        th:value="${role.id}"
                        th:utext="${role.name}"/>
            <td/>
            <td>
                <a class="btn btn-success" th:href="@{/register/{id}(id = ${user.id})}">Edit<i
                        class="fas fa-edit"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>